<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cms_webservice.DAL.Settings.CMSConnectionString" connectionString="Data Source=39.97.233.3;Initial Catalog=petitionDB;Persist Security Info=True;User ID=sa;Password=Silverage356."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>